{
  "presets": [
    ["env",
      { "modules": false,
        "loose": false,
        "targets": {
          "ie": 10
        },
        "include": ["transform-es2015-arrow-functions", "transform-es2015-block-scoping", "es6.map"]
        }],
    "stage-3"
  ]
}
